@import '../styles/variables.scss';

.btn-link {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    text-decoration: none;

    &:hover {
        color: $dark-button-accent;
    }
}